<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
	<link rel="stylesheet" href="../public/1.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../public/css/style.css"> <!-- Resource style -->
	<script src="../public/js/modernizr.js"></script> <!-- Modernizr -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

</head>
<style>

    
    
  </style>


<body>
    <div class="section1">
        <header>
            <div class="s1">
                <h1>Passport</h1>
            </div>
            <div class="s2">
                <a id="s3" href="">Home</a>
                <a href="">AboutUs</a>
                <a href="">Dropdown</a>
                <a href="">Services</a>
                <a href="">Blog</a>
                <button class="s3">Contact Us</button>
            </div>
        </header>
        <h1 class="s4">
            It is Better to <br>
             Travel Well Than <br>
              to Arrive
        </h1>
        <div class="s5">
           <div class="s6"><i class="fa-solid fa-location-dot" style="color: #fafafa;"></i></div> <p>Vernazza, Italy — $500.00 / night</p>
        </div>
    </div>
    <div class="section2">
        <div class="s7">
            <div class="s8">
                <h6 style="color: #fc8621;font-weight: 600;font-size: 15px;">ABOUT US</h6>
                
                
                <section style="margin-top: 10px;margin-left: 0px;font-size: 15px;" class="cd-intro">
                    <h1 style="line-height: 20px;" class="cd-headline rotate-1">
                        <span style="font-size: 30px;">Explore All Corners of 
                             The</span>
                        <span style="font-size: 30px;" class="cd-words-wrapper">
                            <b class="is-visible">World With Us</b>
                            
                        </span>
                    </h1>
                </section> 
                <p id="p1">Far far away, behind the word mountains, far from the countries Vokalia and <br>
                     Consonantia, there live the blind texts. Separated they live in Bookmarksgrove <br>
                      right at the coast of the Semantics, a large language ocean.</p><br><br>
                      
                <p>Far far away, behind the word mountains, far from the countries Vokalia and <br>
                    Consonantia, there live the blind texts. Separated they live in Bookmarksgrove <br>
                     right at the coast of the Semantics, a large language ocean.</p>
                     <button class="s9">Read more</button>
                         <script src="js/jquery-2.1.1.js"></script>
            <script src="js/main.js"></script> 
            </div>
            <div class="s8">
              <div class="s11">  <div class="s10">
                <img style="height: 100%;width: 100%;" src="https://preview.colorlib.com/theme/passport/images/about_1.jpg" alt="">
              </div>
                <div id="s10" class="s10">
                    <img style="height: 100%;width: 100%;" src="https://preview.colorlib.com/theme/passport/images/about_2.jpg" alt="">
                </div></div>
            </div>
        </div>
    </div>
    <div class="section3">
        <div class="s12">
            <h6 style="color: #fc8621;font-weight: 600;font-size: 15px;">WHAT WE SERVE</h6>
            <section style="margin-top: 10px;margin-left: 0px;font-size: 15px;" class="cd-intro">
                <h1 style="line-height: 20px;" class="cd-headline rotate-1">
                    <span style="font-size: 40px;font-weight: bolder;">We Provide Top
                         </span><br>
                    <span style="font-size: 40px;margin-top: 15px;" class="cd-words-wrapper">
                        <b class="is-visible">Destinations</b>
                        
                    </span>
                </h1>
            </section> 
            <p style="font-size: 15px;margin-top: -50px;">Far far away, behind the word mountains, far from the countries Vokalia and <br>
                 Consonantia, there live the blind texts. Separated they live in Bookmarksgrove <br>
                  right at the coast of the Semantics, a large language ocean.</p><br><br>

                     <script src="js/jquery-2.1.1.js"></script>
        <script src="js/main.js"></script> 
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div title="slide 1" class="swiper-slide slide1">
                <img style="height: 100%;width: 100%;" src="https://cdn.pixabay.com/photo/2015/03/09/18/34/beach-666122_1280.jpg" alt="">
              </div>
              <div title="slide 2" class="swiper-slide slide2">
                <img style="height: 100%;width: 100%;" src="https://cdn.pixabay.com/photo/2019/08/02/02/02/beach-4378548_1280.jpg" alt="">
              </div>
              <div title="slide 3" class="swiper-slide slide3">
                <img style="height: 100%;width: 100%;" src="https://cdn.pixabay.com/photo/2015/11/15/14/30/veligandu-island-1044366_1280.jpg" alt="">
              </div>
             
            </div>
            <div class=" btn swiper-button-next"><span></span></div>
            <div class="swiper-button-prev btn"><span></span></div>
          </div>
        
          <!-- Swiper JS -->
          <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        
          <!-- Initialize Swiper -->
          <script>
         
          </script>
        
        </div>
    </div>
    <div class="section4">
    
    </div>
    <div class="section5">
        
        <div class="s21">

            <div class="s22">
                <img style="height: 70%;width: 100%;" src="https://preview.colorlib.com/theme/passport/images/gal_1.jpg" alt="">
                <p style="font-size: 15px;padding: 10px;">
                    May 14, 2020 <br>
<b> Far far away, behind the word mountains </b> <br><br>
Vokalia and Consonantia, there live the blind texts. Separated they live.
                </p>
            </div>
            <div class="s22">
                <img style="height: 70%;width: 100%;" src="https://preview.colorlib.com/theme/passport/images/gal_2.jpg" alt="">
                <p style="font-size: 15px;padding: 10px;">
                    May 14, 2020 <br>
<b> Far far away, behind the word mountains </b> <br><br>
Vokalia and Consonantia, there live the blind texts. Separated they live.
                </p>
            </div>
            <div class="s22">
                                <img style="height: 70%;width: 100%;" src="https://preview.colorlib.com/theme/passport/images/gal_3.jpg" alt="">
                <p style="font-size: 15px;padding: 10px;">
                    May 14, 2020 <br>
<b> Far far away, behind the word mountains </b> <br><br>
Vokalia and Consonantia, there live the blind texts. Separated they live.
                </p>
            </div>
            <div class="s22">
                                <img style="height: 70%;width: 100%;" src="https://preview.colorlib.com/theme/passport/images/gal_4.jpg" alt="">
                <p style="font-size: 15px;padding: 10px;">
                    May 14, 2020 <br>
<b> Far far away, behind the word mountains </b> <br><br>
Vokalia and Consonantia, there live the blind texts. Separated they live.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="s51">
    <br><br><br><br><h1 style="color: white;font-size: 30px;margin-left: 200px;margin-top: 50px;">Begin your adventurous journey here.</h1>
    <button class="s52">Get Started</button>
</div>
<footer>
    <div class="s31">
        <div class="s33"><br><br><br><br>
            <h2>About Passport.</h2><br><br>
            <p style="font-size: 15px;;opacity: 80%;margin-top: 5px;font-family: Arial, Helvetica, sans-serif;line-height: 25px;">Far far away, behind the word mountains, far from the <br>
                 countries Vokalia and Consonantia, there live the blind texts</p>
        </div>
        <div class="s32">
            <br><br><br><br>
            <h2>Links</h2><br><br>
            <a href="">About us</a>
            <a href="">Services</a>
            <a href="">News</a>
            <a href="">Careers</a>
            <a href="">Contact</a>
        </div>
        <div class="s32">
            <br><br><br><br>
            <h2>Company</h2><br><br>
            <a href="">About us</a>
            <a href="">Services</a>
            <a href="">News</a>
            <a href="">Careers</a>
            <a href="">Contact</a>
        </div>
        <div class="s32">
            <br><br><br><br>
            <h2>Contact</h2><br><br>
            <a href="">43 Raymouth Rd. Baltemoer</a>
            <a href="">+1(123)-456-7890</a>
            <a href="">+1(123)-456-7890</a>
            <a href="">info@mydomain.com</a>
        </div>
    </div>
    
</footer>
<p style="text-align: center;font-size: 18px;font-family: Arial, Helvetica, sans-serif;margin-top: 40px;">Copyright ©2024 All rights reserved | This template is made with  by <span style="color: orange;"> Colorlib</span></p> <br>
</body>
</html>


<script src="../public/1.js"></script>
<script>
    let nextBtn = document.querySelector(".swiper-button-next");
let prevBtn = document.querySelector(".swiper-button-prev");

let titleArray = document.querySelectorAll(".swiper-slide");

var swiper = new Swiper(".mySwiper", {
  effect: "fade",
  speed: 1200,
  autoplay:true,
  loop: true,
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev"
  },
  on: {
    slideChange: function () {
      let titlePrevIndex = this.realIndex - 1;
      let titleNextIndex = this.realIndex + 1;
      let fadeSpeed = 20

      if (titlePrevIndex == -1) {
        titlePrevIndex = titleArray.length - 1;
      }
      if (titleNextIndex == titleArray.length) {
        titleNextIndex = 0;
      }
      
      //Ниже две функции для плавного исчезания и появления
      function fadeIn(fade) {
        var opacity = 0;
        var intervalID = setInterval(function () {
          if (opacity < 1) {
            opacity = opacity + 0.01;
            fade.style.opacity = opacity;
          } else {
            clearInterval(intervalID);
          }
        },6);
      }
      function fadeOut(fade) {
        var opacity = 1;
        var intervalID = setInterval(function () {
          if (opacity > 0) {
            opacity = opacity - 0.01;
            fade.style.opacity = opacity;
          } else {
            clearInterval(intervalID);
          }
        }, 6);
      }
      
      //Функция для смены заголовков на кнопках
      function changeTitle() {
        nextBtn.querySelector("span").textContent = titleArray[
          titleNextIndex
        ].getAttribute("title");
        prevBtn.querySelector("span").textContent = titleArray[
          titlePrevIndex
        ].getAttribute("title");
      }
      
      //Прячем старые заголовки на кнопках
      fadeOut(nextBtn.querySelector("span"));
      fadeOut(prevBtn.querySelector("span"));
      
      //Задержка с последующей сменой кнопок и их плавным появлением
      setTimeout(function () {
        changeTitle();
        fadeIn(nextBtn.querySelector("span"));
        fadeIn(prevBtn.querySelector("span"));
      }, 600);
    }
  }
});




$(document).ready(function() {

var counters = $(".count");
var countersQuantity = counters.length;
var counter = [];

for (i = 0; i < countersQuantity; i++) {
  counter[i] = parseInt(counters[i].innerHTML);
}

var count = function(start, value, id) {
  var localStart = start;
  setInterval(function() {
    if (localStart < value) {
      localStart++;
      counters[id].innerHTML = localStart;
    }
  }, 40);
}

for (j = 0; j < countersQuantity; j++) {
  count(0, counter[j], j);
}
});
</script>
 <!-- slider -->
<script>
const swiper = new Swiper('.swiper', {
  // Optional parameters
  direction: 'horizontal',
  loop: true,
  dot:true,
  autoplay:true,
  autoplaySpeed:1000,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script>
<!-- accordian -->
<script>
    $(document).ready(function(){
        $(".tit1").click(function(){
            $(this).next().slideToggle()
            $(this).find('i').toggleClass("fa-minus fa-plus")
        })
    })
</script>
<script>
    $(document).ready(function(){
        $(".tit2").click(function(){
            $(this).next().slideToggle()
            $(this).find('i').toggleClass("fa-minus fa-plus")
        })
    })
</script>
<script>
    $(document).ready(function(){
        $(".tit3").click(function(){
            $(this).next().slideToggle()
            $(this).find('i').toggleClass("fa-plus fa-minus")
        })
    })

</script>